header {
    background-color: #1D428A;
    padding: 20px;

    .navbar {
        display: inline-block;
    }

        .navbar .navbar__link {
            display: inline-block;
        }

        .navbar__link {
            display: inline-block;
        }
    
    .menu {
        display: inline-block;
    
    }

        .menu__item {
                display: inline-block;
                transition: background .3s;

                &:hover {
                    background-color: #C8102E;
                }
            }

}