main {
    display: flex;
    flex-direction: row;
   
    .noticia__derecha {
        width: 60%;
        padding: 8px 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        .texto__imagen {
            max-width: 368px;
        }

        .noticia {
            display: flex;
            flex-direction: row;
           

        
        }
    }

    .noticia__izquierda {
        width: 40%;
    }
}